@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

/*
  Variables
*/

:root {
  --font: 'Inter', sans-serif;
  --primary-heading: 4rem;
  --secondary-heading: 2rem;

  --blue-10: hsl(220 20% 10%);
  --blue-12: hsl(220 20% 12%);
  --blue-14: hsl(220 20% 14%);
  --blue-20: hsl(220 20% 20%);
  --blue-50: hsl(240 100% 50%);
  --white-60: hsl(0 0% 60%);
  --white-98: hsl(0 0% 98%);
  --black-0: hsl(0 0% 0%);

  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --radius: 4px;
}

/*
  General
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

::placeholder {
  color: var(--white-60);
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font);
  color: var(--white-98);
  background-color: var(--blue-14);
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  padding: var(--spacing-2);
  font-size: var(--primary-heading);
}

h2 {
  padding: var(--spacing-2) 0;
  font-size: var(--secondary-heading);
}

button {
  margin: var(--spacing-2) 0;
  padding: var(--spacing-1) var(--spacing-2);
  color: var(--white-98);
  background-color: var(--blue-20);
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

a {
  display: inline-block;
  color: var(--white-98);
  text-decoration: none;
}

input,
select {
  padding: var(--spacing-1);
  font-size: inherit;
  color: var(--white-98);
  background-color: var(--blue-20);
  border: none;
  border-radius: var(--radius);
}

pre {
  padding: var(--spacing-2);
  font-size: 1rem;
  background-color: var(--blue-12);
  border-radius: var(--radius);
}

/*
  Social
*/

.card {
  --card-spacing: 2rem;
  --card-logo: 1.2rem;
  --card-title: 6rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-2);
  position: relative;
  background-image: url('/neon.svg');
  background-size: cover;
  overflow: hidden;
  z-index: 10;
}

.card::after {
  content: '';
  width: 1200px;
  height: 630px;
  position: absolute;
  inset: 0;
  background-image: radial-gradient(var(--blue-50), var(--black-0));
  opacity: 0.4;
  z-index: -10;
}

.card-logo {
  padding: 0.8rem;
  font-size: var(--card-logo);
  font-weight: 700;
  color: var(--blue-14);
  background-color: var(--white-98);
  border-radius: var(--radius);
}

.card-title {
  max-width: 90%;
  font-size: var(--card-title);
  font-weight: 900;
  text-shadow: 2px 2px 2px hsla(0 0% 0% / 20%);
}

/*
  Frontmatter
*/

.text-container {
  margin: var(--spacing-2) 0;
}

.text-copy {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}
